<!doctype html>
<html class="no-js" lang="en" ng-app="GRTVPlaysTurtle">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GRTV plays Turtle</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/github.min.css">
    <script src="js/highlight.pack.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
  </head>
  <body ng-controller="AppCtrl as App">
      
    <div class="row">
      <div class="large-8 large-centered columns">
        <h1>GRTV plays Turtle</h1>
        <!-- <div class="panel">
          <div id="map" ng-controller="MapCtrl as map">
            
          </div>
        </div> -->
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <div id="turtles" class="panel clearfix" ng-controller="TurtlesListCtrl as turtles">
          <button ng-click="turtles.select(null)" class="button secondary small right">Deselect</button>
          <h2>Turtle List</h2>
          <ul class="content">
            <li ng-repeat="turtle in turtles.list" class="turtle" ng-click="turtles.select(turtle.id)" ng-class="{ selected: turtles.isSelected(turtle) }">
              <div class="turtle-name"><span class="turtle-id">#{{ turtle.id }}</span> {{ turtle.name }}</div>
              <div class="turtle-pos">X: {{ turtle.location.X | number:1 }}; Y: {{ turtle.location.Y | number:1 }}; Z: {{ turtle.location.Z | number:1 }}</div>
            </li>
          </ul>
        </div>
        
        <div id="entities" class="panel clearfix" ng-controller="EntitiesListCtrl as entities">
          <button ng-click="entities.select(null)" class="button secondary small right">Deselect</button>
          <h2>Entities</h2>
          <ul class="content">
            <li ng-repeat="(id, entity) in entities.list" class="entity" ng-click="entities.select(id)" ng-class="{ selected: entities.isSelected(id) }">
              <div class="entity-name"><span class="entity-id">{{ entity.type }}</span> {{ id }}</div>
              <div class="entity-pos">X: {{ entity.position.x | number:1 }}; Y: {{ entity.position.y | number:1 }}; Z: {{ entity.position.z | number:1 }}</div>
            </li>
          </ul>
        </div>

        <!-- <div id="log" class="panel" ng-controller="LogCtrl as log">
          <h2>Output log</h2>
          <div class="content"></div>
        </div> -->
      </div>
    
      <div class="large-6 columns">
        <div id="turtle-view" class="panel" ng-controller="TurtleCtrl" ng-show="turtle">
          <h2>{{ turtle.name }}</h2>
          <div class="card-footer row collapse">
            <div class="small-9 columns">
              <input id="turtle-command" type="text" placeholder="Command" />
            </div>
            <div class="small-3 columns">
              <button id="send-command" class="button postfix">Send</button>
            </div>
          </div>
          <div id="instant-commands" class="button-group">
            <button class="button tiny" ng-repeat="command in commands" ng-click="sendCommand(turtle, command)">{{ command }}</button>
          </div>
          <pre><code><div class="code-container content" ng-bind-html="turtle.data|prettyJSON"></div></code></pre>
        </div>

        <div id="entity-view" class="panel" ng-controller="EntityCtrl" ng-show="entity">
          <h2>{{ entity.type }}</h2>
          <pre><code><div class="code-container content" ng-bind-html="entity|prettyJSON"></div></code></pre>
        </div>
      </div>
    </div>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/TurtlesListCtrl.js"></script>
    <script src="js/controllers/TurtleCtrl.js"></script>
    <script src="js/controllers/EntitiesListCtrl.js"></script>
    <script src="js/controllers/EntityCtrl.js"></script>
    <script src="js/controllers/MapCtrl.js"></script>
    <script src="js/controllers/LogCtrl.js"></script>
    <script src="js/controllers/AppCtrl.js"></script>
    <script src="js/services/socket.js"></script>
    <script src="js/services/Turtle.js"></script>
    <script src="js/services/TurtlesList.js"></script>
    <script src="js/services/EntitiesList.js"></script>
    <script src="js/filters/prettyJSON.js"></script>
  </body>
</html>
